params {
    config_profile_name        = 'BCRG WGS Analysis Profile (test)'
    config_profile_description = 'Minimal run for CTC vs BM cancer cells comparison'

    max_cpus   = 8
    max_memory = '8GB'
    max_time   = '8.h'

    input = "${projectDir}/data/samplesheet.csv"

    // No AWS iGenomes (REMOVE IT)
    genome          = null
    igenomes_ignore = true

    // Small reference genome for test
    bcftools_annotations       = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/vcf/test2.vcf.gz"
    bcftools_annotations_index = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/vcf/test2.vcf.gz.tbi"
    bcftools_header_lines      = "${projectDir}/tests/config/bcfann_test_header.txt"
    dbsnp                      = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/dbsnp_146.hg38.vcf.gz"
    fasta                      = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
    germline_resource          = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/gnomAD.r2.1.1.vcf.gz"
    intervals                  = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.interval_list"
    known_indels               = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/vcf/mills_and_1000G.indels.vcf.gz"
    ngscheckmate_bed           = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/chr21/germlineresources/SNP_GRCh38_hg38_wChr.bed"
    snpeff_cache               = null
    snpeff_db                  = 105
    snpeff_genome              = 'WBcel235'
    vep_cache                  = null
    vep_cache_version          = 110
    vep_genome                 = 'WBcel235'
    vep_species                = 'caenorhabditis_elegans'

    // Sentieon For Preprocessing Acceleration
    sentieon_dnascope_model    = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/Sentieon/SentieonDNAscopeModel1.1.model"

    // Variant Calling tools
    // tools = 'mutect2,strelka,manta,ascat'
    tools = 'ascat'

    // For Ascat
    ascat_alleles = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/ASCAT/G1000_alleles_hg19.zip"
    ascat_loci    = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh37/Annotation/ASCAT/G1000_loci_hg19.zip"

    //Annotation
    bcftools_annotations       = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/vcf/test2.vcf.gz"
    bcftools_annotations_index = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/vcf/test2.vcf.gz.tbi"
    bcftools_header_lines      = "${projectDir}/tests/config/bcfann_test_header.txt"
}
